body{
  background-color: aqua;
}

h1{
  background-color: blue;
  margin-top: 5px;
  padding: 15px;
  color: yellow;
  border-style: solid;
  border-radius: 15px;
  border-color: black;
  position: sticky;
  top: 0px;
}

h2{
  margin-left: 110px;
  text-shadow: 2px 2px 10px;
}

h3{
  padding: 3px;
  font-size: 40px;
  background-color: blue;
  color: yellow;
  border: solid 3px black;
}

h4{
  margin-left: 15px;
  margin-top: 45px;
  color: darkred;
}

h5{
  margin-right: 200px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: darkblue;
}

h6{
  font-size: 30px;
  background-color: blue;
  color: yellow;
  border: solid 3px black;
}

a:hover{
  background-color: rgb(30, 108, 210);
  color: antiquewhite;
}

a:visited{
color: green;
}

.para{
  margin: 10px;
  margin-top: 20px;
  font-size: 20px;
}

p{
  margin-left: 10px;
  font-size: 20px;
}

.building{
  margin: 20px;
  border-radius: 10px;
  outline: black 3px solid;
}

.Mypic{
  margin-left: 145px;
  border-radius: 25px;
  outline: black 3px solid;
}

.Mypic:hover{
  box-shadow: 5px 10px 25px;
}

.ending{
  text-align: center;
  font-size: 45px;
  text-shadow: 2px 2px 10px blue;
}

ul{
  margin-left: 50px;
  font-size: 40px;
}
